@import "./variables.scss";

@font-face {
    font-family: "Nunito";
    src: url(../assets/fonts/Nunito-Regular.ttf);
}

@font-face {
    font-family: "Nunito";
    src: url(../assets/fonts/Nunito-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Lato;
    src: url(../assets/fonts/Lato-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Lato;
    src: url(../assets/fonts/Lato-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: "Nunito";
}

.body{
    overflow-x: hidden;
}

.container {
    width: 95%;
    margin-inline: auto;
    
    @media screen and (min-width: $md) {
        width: 80%;
    }
}

.displayNoneMobile{
    display: none !important;

    @media screen and (min-width: $xl) {
       display: block !important;
    }
}

.displayNoneDesktop{
    display: block !important;

    @media screen and (min-width: $xl) {
       display: none !important;
    }
}

.section{
    padding: 25px 0 70px 0;
    min-height: 55vh;
}

.titulo1{
    color: $color2;
    font-size: 20px;
   
    &::after{
        content: "";
        display: block;
        width: 65px;
        height: 5px;
        background-color: $color4;
        margin-top: 5px;
    }
}

.titulo2{
    font-family: Lato;
    color: $color2;
    font-size: 14px;
    text-align: center;
}

.titulo3{
    color: $color1;
    font-size: 20px;

    &::after{
        content: "";
        display: block;
        width: 44px;
        height: 5px;
        background-color: $color1;
        margin-top: 10px;
    }
}
